<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Basic.master.cs" Inherits="WebForms.Basic" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

</head>
<body>
    This is a list of<asp:ContentPlaceHolder ID="ListType" runat="server"></asp:ContentPlaceHolder>:
    <ul>
        <asp:ContentPlaceHolder ID="ListEntries" runat="server"></asp:ContentPlaceHolder>
    </ul>
</body>
</html>
